.container {
  max-width: 480px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 4px;
  padding: 7px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.375rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.fileInputWrapper {
  width: 100%;
}

.fileInput {
  appearance: none;
  border: 1px solid #e2e8f0;
  background-color: #edf2f7;
  border-radius: 0.375rem;
  padding: 0.5rem;
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
  color: #718096;
  transition: all 0.2s ease-in-out;
  margin: 0;
  &:hover {
    border-color: #cbd5e0;
    background-color: #fff;
    color: #4a5568;
  }
  &:focus {
    outline: none;
    border-color: #cbd5e0;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.imageItem {
  object-fit: contain;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 2px solid #e2e8f0;
  border-radius: 0.375rem;
  padding: 0.25rem;
  height: 50px;
  width: 50px;
}

.btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #3182ce;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #2c5282;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.5);
  }
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
